[submodule "Nrrdio.Utilities"]
	path = Nrrdio.Utilities
	url = https://github.com/jyarbro/Nrrdio.Utilities.git
[submodule "core"]
	path = MacrossSoftware
	url = https://github.com/jyarbro/MacrossSoftware-core.git
